.container{
    background-color: rgb(105, 16, 87);
    color: aliceblue;
    height: 300px

}
h1{
    text-decoration: underline; 
    text-decoration-style: dashed;
    text-decoration-color: rgb(168, 181, 25);
    /* 1st value horizantal 2nd value vertical 3rd value blur */
    text-shadow: 2px 3px 4px blue;
    text-align: center;
    text-transform: capitalize;
}
